<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funo.appmarket"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- WindowManger 权限(浮动窗口) -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.SubActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.AppsActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.RankListActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.InstalledActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.AppDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.InstalledSearchActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.funo.appmarket.activity.LoadingActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.funo.appmarket.autoinstall.MyAccessibilityService"
            android:label="魔百和智能安装"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver android:name="com.funo.appmarket.broadcast.InstallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.funo.appmarket.broadcast.UninstallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>